#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.form {
  /* align-items: center; */
  margin: 20px auto;
  display: flex;
  gap: 10px;
}

.select {
  width: 100px;
  min-height: 30px;
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid darkgray;
}
.option {
  font-size: 22px;
}
.input {
  min-height: 22px;
  min-width: 300px;
  font-size: 22px;
  padding-left: 15px;
  border-radius: 5px;
  border: 2px solid darkgray;
}
.button {
  border: 2px solid rgb(86, 85, 124);
}

.button:disabled {
cursor: not-allowed	;
}

.resultText {
  font-size: 22px;
}
.error {
  color: red;
}